body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
   
    font-size: 50px;
}

h2{
    font-size: 40px;
}
.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
}

.half-width{
    width: 50%;
    padding: 1% 6%;
}

.half-width img{
    width: 100%;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(tomato,rgb(206, 86, 86));
    color: white;
    font-weight: 700;
    padding: 10px 30px;
    border-radius: 8px;
}
.top-bg-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.drem-bg-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: 100% 65%;
}

.experiences-area{
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-size: 100px 200px;
    background-position: left center;
}

.experience-item{
    width: 40%;
    margin: 0% 5% 5%;
    padding: 0% 2% 2%;
    border-radius: 15px;
    box-shadow: 10px 10px 40px gray;
}

#card-left{
    border-left: 7px solid;
    border-image: linear-gradient(rgb(123, 62, 62), rgb(255, 0, 0));
    border-image-slice: 1;
}

#card-right{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
.text-center{
    text-align: center;
}

